/* RESET */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: initial;
}

button {
  font: inherit;
  border: initial;
  outline: initial;
  background-color: initial;
  color: inherit;
}

input {
  border: initial;
  outline: initial;
  font: inherit;
}

textarea {
  border: initial;
  outline: initial;
  font: inherit;
  resize: none;
}

/* KEYFRAMES */
@keyframes down{
  0% { opacity:0 }
  25% { opacity:1 }
  75% { opacity:0 }
  100% { opacity:0 }
}

@keyframes spinner {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}


/* FONTS */
@font-face {
  font-family: 'caviar_dreams';
  src: url(assets/fonts/caviardreams-webfont.woff2) format('woff2'),
       url(assets/fonts/caviardreams-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

/* BASE */
.body {
  background-color: #413A3B;
  color: #EFE6DD;
  min-height: 100vh;
  font-family: 'caviar_dreams', sans-serif;
  position: relative;

  scrollbar-width: none; /* Firefox */
}

.body::-webkit-scrollbar {
  /* Chrome, Safari, Edge, Opera, All browsers on iOS */
  display: none;
}

.spacer-line--dark {
  background: #413A3B;
  height: 4px;
  width: 70px;
  margin: 25px 0 100px 0;
}

.spacer-line--light {
  background: #EFE6DD;
  height: 4px;
  width: 70px;
  margin: 25px 0 100px 0;
}

/* HERO */
.hero {
  width: 100%;
  height: 100vh;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hero__heading {
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.hero__name {
  color: #BB4430;
  font-weight: bold;
}

.hero__btn {
  border: 2px solid #EFE6DD;
  border-radius: 5px;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 15px;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0);
}

.hero__btn:hover {
  border-color: #7EBDC2;
  background-color: #7EBDC2;
  color: #413A3B;
}

.hero__arrow {
	width: 60px;
	height: 82px;
}

.hero__arrow__path {
	stroke: #BB4430;
	stroke-width: 2px;
	fill: transparent;	
	animation: down 2s infinite;
}

.hero__arrow__path:nth-child(1){	animation-delay:-1s; }
.hero__arrow__path:nth-child(2){	animation-delay:-.5s; }
.hero__arrow__path:nth-child(3){	animation-delay:0s; }

/* NAV BAR */
.nav-bar {
  background-color: #231F20;
  border-bottom: 4px solid #7EBDC2;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  flex-flow: row normal;
  z-index: 1;
}

.nav-bar__toggle-btn {
  display: none;
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
}

.nav-bar__menu {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
}

.nav-bar__menu-link {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 20px 15px;
  transition: all 0.3s;
}

.nav-bar__menu-link--active {
  color: #BB4430;
}

.nav-bar__menu-link:hover {
  color: #BB4430;
}

/* ABOUT ME */
.about {
  background-color: #EFE6DD;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
  text-align: center;
}

.about__heading {
  color: #413A3B;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
}

.about__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.about__image-container {
  border-radius: 50%;
  overflow: hidden;
  width: 380px;
  height: 380px;
}

.about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #413A3B;
  max-width: 400px;
}

.about__work,
.about__play {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__work__heading,
.about__play__heading {
  font-size: 30px;
  width: fit-content;
  margin-bottom: 10px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  border-bottom: 2px solid #413A3B;
}

.about__work__paragraph,
.about__play__paragraph {
  font-size: 18px;
  line-height: 1.5;
}

/* PROJECTS */
.projects {
  height: 100vh;
  background-color: #F3DFA2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.projects__heading {
  color: #413A3B;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* ADVENTURES */
.adventures {
  background-color: #7EBDC2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
}

.adventures__heading {
  color: #413A3B;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
}

.adventure-map {
  width: 100%;
  max-width: 800px;
  height: 500px;
  border-radius: 10px;
}

.adventure-map__icon {
  font-size: 27px;
  color: #BB4430;
  transform: rotate(25deg) scale(0.8, 1);
  text-shadow: 2px 2px 5px #000;
  transition: all 0.3s;
}

.adventure-map__icon:hover {
  color:#EFE6DD;
  transform: rotate(25deg) scale(0.8, 1) scale(1.3);
}

.adventure-map__info-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.adventure-map__info-window__title {
  font-family: 'caviar_dreams', sans-serif;
  color: #413A3B;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.adventure-map__info-window__btn {
  color:#413A3B;
  font-family: 'caviar_dreams', sans-serif;
  border: 2px solid #413A3B;
  border-radius: 5px;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 15px;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0);
}

.adventure-map__info-window__btn:hover {
  border-color:#BB4430;
  background-color: #BB4430;
  color: white;
}

.adventure-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  background-color: #413A3B;
  position: fixed;
  top: 200%;
  z-index: 10;
  padding: 20px;
  transition: all 0.3s;
  overflow-y: auto;
  overflow-x: hidden;
}

.adventure-details--visible {
  visibility: visible;
  top: 0;
}

.adventure-details__close-btn {
  cursor: pointer;
  margin-left: auto;
}

.adventure-details__title {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.adventure-details__visits {

}

.adventure-details__visit {

}

.adventure-details__visit__date {

}

.adventure-details__visit__images {

}

.adventure-details__visit__image {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

/* CONTACT */
.contact {
  background-color: #413A3B;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
}

.contact__heading {
  color: #EFE6DD;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
}

.contact-note {
  color:#7EBDC2;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  position: relative;
}

.form--hidden {
  visibility: hidden;
}

.form__label {
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.form__input {
  background-color: #EFE6DD;
  border: 2px solid #EFE6DD;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form__input:focus {
  border: 2px solid #BB4430;
}

.form__input:disabled {
  opacity: 20%;
}

textarea.form__input {
  height: 200px;
}

.form__submit-btn {
  border: 2px solid #EFE6DD;
  border-radius: 5px;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 15px;
  transition: all 0.2s, visibility 0s;
  background-color: rgba(0, 0, 0, 0);
}

.form__submit-btn:disabled {
  opacity: 20%;
}

.form__submit-btn:disabled:hover {
  border: 2px solid #EFE6DD;
  color: #EFE6DD;
  background-color: rgba(0, 0, 0, 0);
  cursor: default;
}

.form__submit-btn:hover {
  border-color: #7EBDC2;
  background-color: #7EBDC2;
  color: #413A3B;
}

.form__spinner {
  position: absolute;
  border-radius: 50%;
  animation: spinner 1s infinite linear;
  visibility: hidden;
  left: 50%;
  top: 25%;
  width: 85px;
  height: 85px;
  border-top: 5px solid #EFE6DD;
  border-right: 5px solid #EFE6DD;
  border-bottom: 5px solid #EFE6DD;
  border-left: 5px solid #BB4430;
}

.form__spinner--visible {
  visibility: visible;
}

.form__success-msg {
  position: absolute;
  visibility: hidden;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  color: #EFE6DD;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
}

.form__success-msg--visible {
  visibility: visible;
}

.form__error-msg {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  visibility: hidden;
  color: #BB4430;
}

.form__error-msg--visible {
  visibility: visible;
}

/* FOOTER */
.footer {
  background-color: #231F20;
  padding: 70px 0 50px 0;
  text-align: center;
}

.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.footer__icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #413A3B;
  transition: all 0.3s;
  border-radius: 5px;
}

.footer__icon__container:hover {
  background-color: #7EBDC2;
  color:#413A3B;
}

.footer__icon {
  width: 55px;
  height: 55px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__footnote {
  color:#efe6ddb0;
  margin-top: 35px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer__footnote__year {
  color: #BB4430;
}




/* RESPONSIVE DESIGN */
@media screen and (max-width: 850px) {
  /* HERO */
  .hero__heading {
    font-size: 30px;
  }

  /* NAV BAR */
  .nav-bar {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-bar__menu {
    height: 0;
    background-color:#231F20;
    border-bottom: 4px solid #7EBDC2;
    padding: 0 1rem;
    overflow: hidden;
    flex-direction: column;
    transition: all 0.3s;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 0;
  }

  .nav-bar__menu--expanded {
    height: 250px;
    z-index: 1;
  }

  .nav-bar__toggle-btn {
    display: block;
  }

  
  /* ABOUT */
  .about__content {
    flex-direction: column;
  }
  
  .about__image-container {
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
  }
  
  /* OTHER */
  .spacer-line--dark,
  .spacer-line--light {
    margin-bottom: 50px;
  }
}